@import url('https://fonts.googleapis.com/css?family=Lato');


body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

nav {
    /* margin: 0; */
    align-items: center;
    align-content: center;
}

ul {
    margin: 0;
    padding: 0;
    height: 40px;
    line-height: 30px;
    background-color: #84b3ad;
    text-align: center;
}

li {
    width: 100px;
    margin: 0 5px;
    padding: 5px 0;
    cursor: pointer;
    display: inline-block;
}

li:hover {
    background-color: #135e3e;
    padding: 5px 0;
}

li a {
    text-decoration: none;
    color: #ffffff;
}