@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333333;
    background: linear-gradient(to bottom, #567788 0%,#121f25) no-repeat center center;
}